@use 'sass:color';

@use './colors.scss';

@use '@material/theme/color-palette';
@use '@material/theme/index' as theme with ($primary: colors.$primary,
  $secondary: colors.$secondary,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900);
@use '@material/theme/styles';

@import './typography';

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
  margin: 0;
}

a {
  color: #866efe;
}

a:visited {
  color: color.scale(#866efe, $lightness: -35%);
}
